################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UploadDocumentInNETCore/bin/Debug/net8.0
/UploadDocumentInNETCore/obj
